.logo {
  display: flex;
  align-items: center;
  padding: 0 $unit * 0.5;

  &__text {
    margin-left: $unit * 0.5;
    font-family: $specialFont;
    font-weight: 600;
  }

  &--noText > p {
    display: none;
  }
}

@media (max-width: $sm) {
  .logo--noTextSmallScreen > p {
    display: none;
  }
}

#{$themeDarkClass} {
  .logo {
    svg {
      fill: rgba(215, 219, 231, 0.2);
  
      * {
        stroke: rgba(215, 219, 231, 1);
      }
    }
  }
}
