.dateRangePicker {
  $base: &;

  position: relative;
  display: flex;
  gap: $halfUnit;
  grid-template-columns: auto;
  align-items: flex-end;

  &--pickerAbove {
    #{$base}__picker {
      bottom: $inputHeight + $halfUnit;
    }
  }

  &--withSelect {
    grid-template-columns: auto $unit * 10;

    #{$base}__main {
      width: auto;
    }
  }

  &__label {
    @extend %inputTitle;
  }

  &__picker {
    @extend %reactDayPickerOverride;
  }

  &__main {
    width: 100%;
  }
}
