.borrowItem {
  $base: &;

  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: $halfUnit;
  border-top: $defaultBorder;
  align-items: center;
  padding: $unit * 0.5 $unit * 0.75;
  overflow: hidden;

  &:hover {
    background-color: var(--shade10);

    #{$base}__amount,
    #{$base}__delete {
      transform: translateX(0);
    }

    #{$base}__delete {
      animation: fadeIn 0.3s ease-in-out;
      opacity: 1;
    }
  }

  &__title {
    @extend %listItemTitle;
  }

  &__subtitle {
    @extend %listItemSubtitle;
  }

  &__amount {
    @extend %listItemAmount;
    margin-right: 0;
  }

  &__delete {
    cursor: pointer;
    user-select: none;
    opacity: 0;
  }

  &__amount,
  &__delete {
    transform: translateX($unit * 1.5);
  }
}
