.input {
  $base: &;
  $iconSize: 24px;
  $iconPaddingX: 6px;

  display: flex;
  flex-flow: column;
  position: relative;

  input {
    @extend %inputBase;
  }

  input::placeholder {
    color: $shade30;
  }

  input:focus {
    @extend %inputFocus;
  }
  // <start> __ELEMENTS </start>
  &__error {
    @extend %inputError;
  }

  &__icon {
    @extend %inputIcon;
  }

  &__icon + input,
  &__icon + &__title + input {
    padding-left: $iconSize + 2 * $iconPaddingX !important;
  }

  &__title + &__icon {
    margin-top: 25px;
  }

  &__title,
  &__error {
    color: $colorTextDark;
    margin-left: 2px;
  }

  &__title {
    @extend %inputTitle;
  }
  // <end> __ELEMENTS </end>
  // <start>--modifiers</start>
  &--warning {
    input {
      border: 1px solid $colorWarning;

      &:focus {
        border-color: darken($colorWarning, 15%);
        box-shadow: $shadowInputWarning;
      }
    }

    i {
      color: $colorWarning;
    }
  }

  &--error {
    input {
      border: 1px solid $colorError;

      &:focus {
        border-color: darken($colorError, 15%);
        box-shadow: $shadowInputError;
      }
    }

    i {
      color: $colorError;
    }
  }

  &--disabled {
    input {
      cursor: not-allowed;
      background-color: $colorDisabled;
      pointer-events: none;
    }

    i {
      color: $colorDisabled;
    }
  }

  &--required {
    #{$base}__title::after {
      content: "*";
      font-size: 1.5rem;
      line-height: 0;
      vertical-align: middle;
      color: $colorSecondary;
      margin-left: $unit * 0.125;
    }
  }

  &--tall input {
    height: 42px;
  }
  // <end>--modifiers</end>
}