.dashBorrowings {
  &__form {
    display: flex;
    align-items: flex-end;
    margin: $halfUnit $unit $unit;
    gap: $halfUnit;
  }

  &__list {
    overflow-y: hidden;
    border-bottom-left-radius: $defaultBorderRadius;
    border-bottom-right-radius: $defaultBorderRadius;
  }
}
