.iItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $unit * 0.5 $unit * 0.75;
  border-bottom: $defaultBorder;

  &__title {
    font-size: 1.1rem;
    font-weight: 500;
    font-family: $defaultFont;
    color: var(--color-text);
  }
  
  &__subtitle {
    color: var(--shade20);
    font-size: 1rem;
    margin-top: $unit * 0.15;
  }

  &:hover {
    background-color: var(--shade10);
  }
}