.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 $unit;
  background: var(--bg-navbar);
  height: $navbarHeight;
  width: 100%;
  border-bottom: $defaultBorder;

  &__left,
  &__right {
    display: flex;
    gap: $unit * 0.5;
  }

  &__logo {
    margin-right: $unit * 1.5;
  }

  &__container {
    display: flex;
    align-items: center;
    gap: $unit;
  }

  &--sticky {
    position: sticky;
    top: 0px;
  }
}
