.tList {
  &__loadMore {
    display: flex;
    justify-content: center;
    padding: $unit $unit * 0.75;
  }
}

.tItem {
  $base: &;

  display: grid;
  grid-template-columns: auto 1fr auto auto;
  gap: $halfUnit;
  border-top: $defaultBorder;
  align-items: center;
  padding: $unit * 0.5 $unit * 0.75;
  overflow: hidden;

  &:hover {
    background-color: var(--shade10);

    #{$base}__amount,
    #{$base}__delete {
      transform: translateX(0);
    }

    #{$base}__delete {
      animation: fadeIn 0.3s ease-in-out;
      opacity: 1;
    }
  }

  &__title {
    @extend %listItemTitle;
  }

  &__subtitle {
    @extend %listItemSubtitle;
  }

  &__amount {
    @extend %listItemAmount;
    transition-property: transform;
    transition-duration: 0.3s;
  }

  &__amount,
  &__delete {
    transform: translateX($unit * 1.5);
  }

  &__delete {
    cursor: pointer;
    user-select: none;
    opacity: 0;
  }

  &--positive {
    background-color: rgba($colorSuccess, 0.1);

    #{$base}__amount {
      color: var(--color-success);
    }

    &:hover {
      background-color: rgba($colorSuccess, 0.3);
    }
  }
}
