@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Quicksand:wght@400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap");

@import "./Variables.scss";
@import "./Themes.scss";
@import "./Mixins.scss";
@import "./Placeholders.scss";
@import "./Animations.scss";
@import "./Components.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-size: 14px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  transition: all 0.2s ease-out;
  transition-property: background-color, color, border-color, box-shadow;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  color: $colorTextDark;
  font-family: $specialFont;
  font-weight: 600;
}

p,
span,
div {
  margin: 0;
  font-size: 16px;
  font-family: $defaultFont;
  font-weight: 400;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 8px;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background-color: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: darken($shade20, 15%);
  background-clip: padding-box;
  border: 3px transparent solid;

  &:hover {
    background-color: $shade20;
  }
}
