$themeDarkClass: ".theme--dark";
$themeLightClass: ".theme--light";

.theme {
  height: 100vh;
  width: 100vw;
}

// Global color variables
#{$themeLightClass} {
  --bg-card: white;
  --bg-select-menu: white;
  --bg-navbar: white;
  --bg-input: rgba(167, 164, 174, 0.1);
  --bg-input-hover: rgba(167, 164, 174, 0.13);
  --bg-input-error: #{mix($shade0, $colorError, 95%)};
  --bg-mask: rgba(0, 0, 0, 0.3);
  --color-border: #dfdfdf;
  --color-error-outline: #{mix($shade0, $colorError, 25%)};
  --color-placeholder: #95939D;
  --color-primary: #{$colorPrimary};
  --color-primary-20: #{rgba($colorPrimary, 0.15)};
  --color-primary-50: #{rgba($colorPrimary, 0.5)};
  --color-primary-90: #{rgba($colorPrimary, 0.9)};
  --color-secondary: #{$colorSecondary};
  --color-text: #{$colorTextDark};
  --color-text-inverse: #{$colorTextLight};
  --color-text-primary: #{$colorTextPrimary};
  --color-error: #{$colorError};
  --color-warning: #{$colorWarning};
  --color-information: #{$colorInformation};
  --color-success: #{$colorSuccess};
  --color-neutral: #EEF2F6;
  --shade100: #{$shade100};
  --shade80: #{$shade80};
  --shade70: #{$shade70};
  --shade60: #{$shade60};
  --shade50: #{$shade50};
  --shade40: #{$shade40};
  --shade30: #{$shade30};
  --shade20: #{$shade20};
  --shade15: #{$shade15};
  --shade10: #{$shade10};
  --shade5: #{$shade5};
  --shade0: #{$shade0};

  --card-shadow: #{$shadowDefault};
  --dropdown-shadow: #{$shadowDropdown};

  color-scheme: light;
  background-color: #f4f5f7;
}

// Global color variables for dark
#{$themeDarkClass} {
  --bg-card: #282828;
  --bg-select-menu: #373738;
  --bg-navbar: #282828;
  --bg-input: rgba(167, 164, 174, 0.12);
  --bg-input-hover: rgba(167, 164, 174, 0.07);
  --bg-input-error: #{mix($shade80, $colorError, 97%)};
  --bg-mask: rgba(255, 255, 255, 0.2);

  --color-border: #454545;
  --color-error-outline: #{mix($shade0, $colorError, 40%)};
  --color-placeholder: #95939D;
  --color-primary: #{$colorPrimaryDark};
  --color-primary-20: #{rgba($colorPrimaryDark, 0.3)};
  --color-primary-50: #{rgba($colorPrimaryDark, 0.5)};
  --color-primary-90: #{rgba($colorPrimaryDark, 0.9)};
  --color-secondary: #{$colorSecondaryDark};
  --color-text: #{$colorTextLight};
  --color-text-inverse: #{$colorTextDark};
  --color-text-primary: #{$colorTextPrimaryDark};
  --color-error: #{$colorErrorDark};
  --color-warning: #{$colorWarningDark};
  --color-information: #{$colorInformationDark};
  --color-success: #{$colorSuccessDark};
  --color-neutral: #3e434a;
  --shade100: #{$shade0};
  --shade80: #{$shade5};
  --shade70: #{$shade10};
  --shade60: #{$shade15};
  --shade50: #{$shade20};
  --shade40: #{$shade30};
  --shade30: #{$shade40};
  --shade20: #{$shade50};
  --shade15: #{$shade60};
  --shade10: #{$shade70};
  --shade5: #{$shade80};
  --shade0: #{lighten($shade100, 7%)};

  --card-shadow: #{$shadowDefaultDark};
  --dropdown-shadow: #{$shadowDefaultDark};

  color-scheme: dark;
  background-color: #151515;

  p.text {
    color: #{$colorTextLight};
  }

  .invertColors {
    filter: invert(0.8) hue-rotate(160deg) saturate(2);
  }
}
