/**
 * ====== SIZES ======
 */
$unit: 16px;
$halfUnit: $unit * 0.5;
$defaultBorderRadius: $unit * 0.625;
$containerBorderRadius: $unit * 0.75;
$defaultMargin: $unit;
$navbarBlur: 6px;
$inputHeight: 38px;
$inputHeightLarge: 42px;

/**
  * ====== FONTS ======
  */
$defaultFont: "Lato", Roboto, "Source Sans Pro", sans-serif;
$specialFont: "Quicksand", Raleway, Roboto;

/**
  * ====== COLORS ======
  */
$shade100: #000;
$shade80: #333;
$shade70: #444;
$shade60: #666;
$shade50: #888;
$shade40: #999;
$shade30: #b2b2b2;
$shade20: #cbcbcb;
$shade15: #ddd;
$shade10: #eee;
$shade5: #f5f5f5;
$shade0: #fff;

$colorPrimary: #4a63a3;
$colorPrimaryDark: #3d5183;
$colorSecondary: #f3c243;
$colorSecondaryDark: #c06121;

$colorError: #e95555;
$colorWarning: #ffbc57;
$colorInformation: #4585c0;
$colorSuccess: #338f48;

$colorTextLight: rgba(255, 255, 255, 0.9);
$colorTextDark: #2b2f38;
$colorDisabled: $shade5;

/**
  * ====== SHADOWS ======
  */
$shadowDefault: 0px 0px 8px 2px rgba(0, 0, 0, 0.05);
$shadowDefaultDark: 0px 0px 8px 2px rgba(255, 255, 255, 0.04);

$shadowInputError: 0 0 0 2px rgba($colorError, 0.3);
$shadowInputWarning: 0 0 0 2px rgba($colorWarning, 0.3);

/**
  * ====== MEDIA QUERIES ======
  */
$xs: 24em;
$sm: 47.5em;
$md: 62em;
$lg: 75em;
