.logo {
  display: flex;
  align-items: center;
  padding: 0 $unit * 0.5;

  &__text {
    margin-left: $unit * 0.5;
    color: var(--logo-text-color);
    font-family: $specialFont;
    font-weight: 600;
  }

  &--noText > p {
    display: none;
  }
}

@media (max-width: $sm) {
  .logo--noTextSmallScreen > p {
    display: none;
  }
}

#{$themeLightClass} {
  --color-logo-text: $colorTextDark;
}

#{$themeDarkClass} {
  --color-logo-text: rgba(215, 219, 231, 1);

  svg {
    fill: rgba(215, 219, 231, 0.2);

    * {
      stroke: rgba(215, 219, 231, 1);
    }
  }
}