.addEvent {
  $base: &;

  height: 100%;
  display: flex;
  flex-direction: column;

  &__values {
    display: grid;
    grid-template-columns: 1fr 1fr;

    :last-child {
      margin-bottom: $unit * 0.5;
    }
  }
}

.addEventForm {
  display: flex;
  flex-direction: column;
  gap: $unit;
  flex-grow: 1;
}
