.input {
  $base: &;
  $iconSize: $unit * 1.5;
  $iconPaddingX: 6px;

  position: relative;

  input {
    @extend %inputBase;

    &:focus {
      @include focusOutline;
    }
  }

  input::placeholder {
    color: var(--color-placeholder);
  }

  // <start> __ELEMENTS </start>
  &__icon {
    @extend %inputIcon;

    &--noTitle {
      margin-top: $unit * 0.5;
    }
  }

  &__icon + input,
  &__icon + &__title + input {
    padding-left: $iconSize + 2 * $iconPaddingX !important;
  }

  &__title {
    @extend %inputTitle;
  }

  &__error {
    margin-left: 6px;
    margin-top: 6px;
    font-size: 0.95rem;
    color: var(--color-error);
  }

  &__main--hasDropdown {
    display: flex;

    input {
      border-radius: $defaultBorderRadius 0 0 $defaultBorderRadius;
    }

    input + div {
      cursor: pointer;
      user-select: none;
      border-radius: 0 $defaultBorderRadius $defaultBorderRadius 0;
      background-color: var(--shade10);
      padding: $halfUnit;
      color: var(--color-text);

      &:hover {
        background-color: var(--shade15);
      }
    }
  }

  &--disabled {
    input {
      color: var(--shade20);
      border: $disabledBorderStyle;
    }

    #{$base}__icon {
      color: var(--shade20);
    }
  }

  &--error {
    input {
      background-color: var(--bg-input-error);
    }

    input:focus {
      background-color: transparent;
      @include focusOutline(var(--color-error-outline));
    }

    #{$base}__icon {
      color: var(--color-error-outline);
    }
  }

  &--fixedWidth {
    width: $unit * 16;
  }

  &--required {
    #{$base}__title::after {
      @extend %inputRequiredAfterTitle;
    }
  }

  &--tall input {
    height: $inputHeightLarge;
  }

  &--white {
    input {
      background-color: rgba(mix($shade0, $shade100, 90%), 65%);

      &::placeholder {
        color: var(--shade40);
      }

      &:focus {
        @include focusOutline(rgba($colorPrimary, 65%));
      }
    }
  }
}
