.input {
  $base: &;
  $iconSize: $unit * 1.5;
  $iconPaddingX: 6px;

  position: relative;

  input {
    @extend %inputBase;

    &:focus {
      @include focusOutline;
    }
  }

  input::placeholder {
    color: var(--color-placeholder);
  }

  // <start> __ELEMENTS </start>
  &__icon {
    @extend %inputIcon;
  }

  &__icon+input,
  &__icon+&__title+input {
    padding-left: $iconSize + 2 * $iconPaddingX !important;
  }

  &__title {
    @extend %inputTitle;
  }

  &__error {
    margin-left: 6px;
    margin-top: 6px;
    font-size: 0.95rem;
    color: var(--color-error);
  }

  &--disabled {
    input {
      border: 1px dashed var(--shade20);
    }

    #{$base}__icon {
      color: var(--shade20);
    }
  }

  &--error {
    input {
      background-color: var(--bg-input-error);
    }

    input:focus {
      background-color: transparent;
      @include focusOutline(var(--color-error-outline));
    }

    #{$base}__icon {
      color: var(--color-error-outline);
    }
  }

  &--fixedWidth {
    width: $unit * 16;
  }

  &--required {
    #{$base}__title::after {
      content: "*";
      font-size: 1.2rem;
      color: var(--color-error);
      margin-left: $unit * 0.125;
      line-height: 0;
    }
  }

  &--tall input {
    height: $inputHeightLarge;
  }
}