.card {
  $base: &;
  $paddingX: $unit;
  $paddingY: $unit;

  @extend %cardBase;
  position: relative;

  &__header {
    padding: $paddingX $paddingY;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 2px solid var(--shade5);

    #{$base}__headerActions {
      display: flex;
      gap: $unit;
      transform: translateY(-$halfUnit * 0.5);
      margin-bottom: -$halfUnit;
    }
  }

  &__content {
    padding: 0 $paddingY $paddingX $paddingY;
  }

  &__error {
    margin-top: -$unit * 0.25;
    margin-bottom: $unit * 0.75 !important;
  }

  &__loader {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $containerBorderRadius;
    background-color: rgba($shade50, 0.2);
    backdrop-filter: blur(4px);

    p {
      color: var(--color-text);
    }
  }

  &--loading {
    min-height: $unit * 10;
  }

  &--noContentPaddingX {
    #{$base}__content {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &--noContentPaddingY {
    #{$base}__content {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &--wrap {
    display: inline-block;
  }

  &--noDivider {
    #{$base}__header {
      border-bottom: none;
    }
  }
}
