.select {
  $base: &;

  position: relative;

  ::-webkit-scrollbar {
    background-color: transparent;
    border-radius: 6px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $shade20;

    &:hover {
      background-color: darken($shade20, 15%);
    }
  }

  select {
    display: none;
  }

  &__icon {
    color: var(--shade50);
  }

  &__title {
    @extend %inputTitle;
  }

  &__inputMain {
    display: flex;
  }

  &__icon + &__inputText {
    margin-left: $halfUnit;
  }

  &__inputText {
    user-select: none;
    color: var(--color-text);
    white-space: nowrap;
  }

  &__input {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend %inputBase;
  }

  &__iconOpen {
    transition: transform 0.4s ease-in-out !important;
    flex-shrink: 0;
  }

  &--open {
    #{$base}__input {
      @include focusOutline;
    }

    #{$base}__iconOpen {
      transform: rotate(180deg);
    }
  }

  &--required {
    #{$base}__title::after {
      content: "*";
      font-size: 1.2rem;
      color: var(--color-error);
      margin-left: $unit * 0.125;
      line-height: 0;
    }
  }

  &--disabled {
    #{$base}__input {
      border: $disabledBorderStyle;

      &Text {
        color: var(--shade20);
      }
    }

    #{$base}__icon {
      color: var(--shade20);
    }
  }

  &:not(&--open) {
    svg {
      fill: var(--shade50);
    }

    #arrow {
      stroke: var(--shade50);
    }
  }

  &--fixedWidth {
    width: $unit * 16;
  }

  &--tall &__input {
    height: $inputHeightLarge;
  }
}

.selectMenu {
  @extend %cardBase;
  box-shadow: var(--dropdown-shadow);
  position: absolute;
  z-index: 15;

  display: flex;
  flex-direction: column;
  width: $unit * 16;
  max-height: $unit * 20;
  margin-top: 8px;
  padding: $halfUnit * 0.7 4px $halfUnit * 0.7 6px;
  overflow-y: auto;
}

.selectMenuItem {
  margin-bottom: $unit * 0.25;
  padding: $halfUnit;
  border-radius: $defaultBorderRadius;
  height: $inputHeight;
  cursor: pointer;

  &--selected {
    background-color: rgba($colorPrimary, 0.2);
    color: var(--color-text-primary);
  }

  &:hover:not(&--selected) {
    background-color: var(--shade10);
  }
}

#{$themeDarkClass} {
  .select--open .select__iconOpen {
    svg {
      fill: var(--color-text-primary);
    }

    #arrow {
      stroke: var(--color-text-primary);
    }
  }
}
