.button {
  --bg-button: var(--bg-input);
  --bg-button-hover: var(--bg-input-hover);
  --bg-button-easy: rgba(71, 110, 216, 0.18);
  --bg-button-easy-hover: rgba(71, 110, 216, 0.22);
  --bg-button-easy-outline: rgba(46, 84, 190, 0.4);
  --bg-button-primary-hover: #{mix($shade100, $colorPrimary, 10%)};
  --bg-button-primary-outline: rgba(46, 84, 190, 0.2);
  --bg-button-danger: #{mix($shade0, $colorError, 80%)};
  --bg-button-danger-hover: #{mix($shade0, $colorError, 90%)};
  --color-danger: #{$colorError};

  cursor: pointer;
  border-radius: $defaultBorderRadius;
  color: var(--color-text);
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  white-space: nowrap;
  user-select: none;
  background: var(--bg-button);
  height: $inputHeight;
  padding: 0 $unit;
  z-index: 0;
  width: 100%;

  svg+p {
    margin-left: 0.5rem;
    margin-bottom: 0 !important;
  }

  &--ellipsis {
    @include ellipsis(1);
  }

  &:hover {
    outline: none;
    background: var(--bg-button-hover);
    @include focusOutline;
  }

  &--centerText {
    justify-content: center;
  }

  &--danger {
    color: var(--color-danger);
    background: var(--bg-button-danger);

    &:hover {
      @include focusOutline(var(--color-error-outline));
      background: var(--bg-button-danger-hover);
    }
  }

  &--disabled {
    cursor: not-allowed;
    box-shadow: none !important;
    color: var(--shade40) !important;
    background-color: var(--shade5) !important;
    border: $disabledBorderStyle;

    &:hover {
      background-color: var(--shade10) !important;
    }
  }

  &--easy {
    background: var(--bg-button-easy);
    color: var(--color-text-primary);

    &:hover {
      background-color: var(--bg-button-easy-hover);
      @include focusOutline(var(--bg-button-easy-outline));
    }
  }

  &--iconOnly {
    padding: 0 $unit * 0.8;
  }

  &--primary {
    background: var(--color-primary);
    color: $shade0;

    &:hover {
      background: var(--bg-button-primary-hover);
      box-shadow: none;
    }
  }

  &--small {
    padding: $halfUnit $unit * 0.75;
    height: auto;

    p {
      font-size: 1.1rem;
    }
  }

  &--tall {
    height: $inputHeightLarge;
  }

  &--text {
    background: transparent;

    &:hover {
      background: var(--bg-button-hover);
      @include focusOutline;
    }
  }

  &--transparent {
    background: transparent;
    color: var(--color-text-primary);

    &:hover {
      background: transparent;
      @include focusOutline(var(--bg-button-primary-outline));
    }
  }

  &--wrapContent {
    width: unset;
  }
}

#{$themeDarkClass} {
  .button {
    --bg-button-hover: #{$shade80};
    --bg-button-easy: rgba(92, 130, 234, 0.2);
    --bg-button-easy-hover: rgba(122, 152, 236, 0.3);
    --bg-button-easy-outline: rgba(122, 152, 236, 0.6);
    --bg-button-danger: #{mix($shade100, $colorError, 50%)};
    --bg-button-danger-hover: #{mix($shade100, $colorError, 20%)};
    --color-danger: #{mix($shade0, $colorError, 90%)};
  }
}