.button {
  --bg-button: var(--bg-input);
  --bg-button-hover: var(--bg-input-hover);
  --bg-button-easy: rgba(71, 110, 216, 0.2);
  --bg-button-easy-hover: rgba(71, 110, 216, 0.2);
  --bg-button-easy-outline: rgba(46, 84, 190, 0.4);
  --bg-button-primary-hover: #{mix($shade100, $colorPrimary, 10%)};
  --bg-button-primary-outline: rgba(46, 84, 190, 0.2);
  --bg-button-danger: #{mix($shade0, $colorError, 80%)};
  --bg-button-danger-hover: #{mix($shade0, $colorError, 90%)};
  --bg-button-danger-outline: #{mix($shade0, $colorError, 25%)};

  cursor: pointer;
  border-radius: $defaultBorderRadius;
  color: var(--color-text);
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  white-space: nowrap;
  user-select: none;
  background: var(--bg-button);
  height: 36px;
  padding: 0 $unit;
  z-index: 0;
  width: 100%;

  svg+p {
    margin-left: 0.5rem;
  }

  &:hover {
    outline: none;
    background: var(--bg-button-hover);
    @include focusOutline;
  }

  &--centerText {
    justify-content: center;
  }

  &--danger {
    color: $colorError;
    background: var(--bg-button-danger);

    &:hover {
      @include focusOutline(var(--bg-button-danger-outline));
      background: var(--bg-button-danger-hover);
    }
  }

  &--disabled {
    cursor: not-allowed;
    box-shadow: none !important;
    color: var(--shade20);
    background-color: var(--shade5);

    &:hover {
      background-color: var(--shade10) !important;
    }
  }

  &--easy {
    background: var(--bg-button-easy);
    color: var(--color-text-primary);

    &:hover {
      background-color: var(--bg-button-easy-hover);
      @include focusOutline(var(--bg-button-easy-outline));
    }

    &:active {
      background: mix($colorPrimary, #ffffff, 15%);
    }
  }

  &--primary {
    background: var(--color-primary);
    color: var(--shade0);

    &:hover {
      background: var(--bg-button-primary-hover);
      box-shadow: none;
    }
  }

  &--tall {
    height: 40px;
  }

  &--text {
    background: transparent;

    &:hover {
      background: var(--bg-button-hover);
      @include focusOutline;
    }
  }

  &--transparent {
    background: transparent;
    color: var(--color-text-primary);

    &:hover {
      background: transparent;
      @include focusOutline(var(--bg-button-primary-outline));
    }
  }

  &--wrapContent {
    width: unset;
  }
}

#{$themeDarkClass} {
  .button {
    --bg-button: #{$shade80};
    --bg-button-hover: #{$shade70};
    --bg-button-easy-hover: rgba(122, 152, 236, 0.3);
    --bg-button-easy-outline: rgba(122, 152, 236, 0.4);
    --bg-button-danger: #{mix($shade100, $colorError, 50%)};
    --bg-button-danger-hover: #{mix($shade100, $colorError, 20%)};
    --bg-button-danger-outline: #{mix($shade100, $colorError, 40%)};

    &--danger {
      color: #{mix($shade0, $colorError, 90%)};
    }
  }
}