.dashboardBody {
  padding: $unit * 1.5 3%;

  &__insights {
    margin-bottom: $unit * 1.5;
  }

  &__cards {
    gap: $unit * 0.75;
    display: flex;
    flex-direction: column;
  }

  &__columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $unit;
  }
}