.transactionsBody {
  --bg-header: #{rgba($colorPrimary, 0.10)};

  $base: &;
  $extraSpaceX: 12vw;

  display: grid;
  grid-template-columns: 1.2fr 2fr;
  grid-template-rows: auto 1fr;
  height: calc(100vh - #{$navbarHeight});
  overflow-y: hidden;

  &__filters {
    grid-column: 1;
    grid-row: 1 / span 2;
    
    #{$base}__header {
      border-right: $defaultBorder;
    }
    
    #{$base}__filterForm {
      @extend %cardBase;
    }

    & > :not(#{$base}__header) {
      padding: $unit $unit * 0.6 0;
    }

    & > * {
      padding-left: calc(#{$unit} + #{$extraSpaceX}) !important;
    }
  }
  
  &__transactions {
    grid-column: 2;
    grid-row: 2;
    overflow-y: auto;

    & > :not(#{$base}__header) {
      padding: $unit $unit $unit $unit * 0.6;
    }

    & > * {
      padding-right: calc(#{$unit} + #{$extraSpaceX}) !important;
    }
  }
  
  &__header {
    position: sticky;
    top: 0;
    z-index: 1;
    grid-column: 2;
    grid-row: 1;
    background-color: var(--bg-header);
    backdrop-filter: blur(4px);
    border-bottom: $defaultBorder;
    padding: $unit * 0.25 $unit;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      @include headerGradient();
    }
    
    #{$base}__Subtitle {
      color: var(--shade40);
    }

    &Actions {
      display: flex;
      gap: $halfUnit;
    }
  }
}

#{$themeDarkClass} {
  .transactionsBody {
    --bg-header: #{rgba($shade70, 0.65)};
  }
}