.auth {
  $base: &;

  position: relative;
  height: 100vh;
  width: 100vw;

  &__background, &__container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &__container {
    display: flex;
    justify-content: flex-end;
    padding: $halfUnit;
    overflow: hidden;
  }

  &__error {
    @extend %inputErrorText;
  }

  &__card {
    border-radius: $defaultBorderRadius;
    background-color: rgba(235, 235, 235, 0.65);
    width: 25vw;
    backdrop-filter: blur(6px);
    padding: $unit * 1.5;
    display: grid;
    grid-template-rows: auto 1fr auto;
    animation: authFadeInLeft 0.5s ease-out;

    #{$base}__logo {
      display: flex;
      justify-content: center;
      grid-row: 1;
    }
  
    #{$base}__form {
      grid-row: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: $unit * 1.5;
      gap: $unit;

      #{$base}__title {
        color: var(--shade80);
        font-size: 1.5rem;
        font-weight: 600;
      }
    }
  
    #{$base}__footer {
      grid-row: 3;

      #{$base}__footerText {
        color: var(--shade70);
        font-size: 1rem;
        text-align: center;
      }
    }
  }

  &__buttons {
    margin-top: $unit;
    display: flex;
    gap: $unit;
    flex-direction: column;
  }
}
