.dashQuickAdd {
  $base: &;

  &__form {
    padding: 0 $unit $unit;

    #{$base}__rowOne {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: $halfUnit;
    }

    #{$base}__rowTwo {
      margin-top: $unit * 0.75;
      display: flex;
      align-items: flex-end;
      gap: $halfUnit;

      :first-child {
        flex: 1;
      }
    }
  }
}
