/**
 * ====== SIZES ======
 */
$unit: 16px;
$halfUnit: $unit * 0.5;
$defaultBorderRadius: $unit * 0.75;
$containerBorderRadius: $unit;
$defaultMargin: $unit;
$navbarBlur: 6px;

/**
  * ====== FONTS ======
  */
$defaultFont: "Lato", Roboto, "Source Sans Pro", sans-serif;
$specialFont: "Quicksand", Raleway, Roboto;

/**
  * ====== COLORS ======
  */
$shade100: #000;
$shade80: #333;
$shade70: #444;
$shade60: #666;
$shade50: #888;
$shade40: #999;
$shade30: #b2b2b2;
$shade20: #cbcbcb;
$shade15: #ddd;
$shade10: #eee;
$shade5: #f5f5f5;
$shade0: #fff;

$colorPrimary: #4A63A3;
$colorPrimaryDark: #3D5183;
$colorSecondary: #F3C243;
$colorSecondaryDark: #c06121;

$colorError: #e95555;
$colorWarning: #FFBC57;
$colorInformation: #4585c0;
$colorSuccess: #338F48;

$colorTextLight: rgba(255, 255, 255, 0.9);
$colorTextDark: #2B2F38;
$colorDisabled: $shade5;

/**
  * ====== SHADOWS ======
  */
$shadowDefault: 0px 2px 6px rgba(0, 0, 0, 0.14);
$shadowDefaultDark: 0px 0px 6px rgba(255, 255, 255, 0.2);
$shadowCard: $shadowDefault;
$shadowCardHover: $shadowDefaultDark;

$shadowInputError: 0 0 0 2px rgba($colorError, 0.3);
$shadowInputWarning: 0 0 0 2px rgba($colorWarning, 0.3);

/**
  * ====== MEDIA QUERIES ======
  */
$xs: 24em;
$sm: 47.5em;
$md: 62em;
$lg: 75em;

/**
  * ====== THEMES ======
  */
$themeDarkClass: ".theme--dark";
$themeLightClass: ".theme--light";

.theme {
  --color-error: #{$colorError};
  --color-warning: #{$colorWarning};
  --color-information: #{$colorInformation};
  --color-success: #{$colorSuccess};

  height: 100vh;
  width: 100vw;
}

// Global color variables
#{$themeLightClass} {
  --color-border: #EEEEEE;
  --color-primary: #{$colorPrimary};
  --color-text: #{$colorTextDark};
  --bg-card: white;
  --bg-navbar: white;
  
  background-color: #FCFCFC;
}

// Global color variables for dark
#{$themeDarkClass} {
  --color-border: #454545;
  --color-primary: #{$colorPrimaryDark};
  --color-text: #{$colorTextLight};
  --color-warning: #FF9D5B;
  --color-information: #34B6FF;
  --color-success: #23B944;
  --bg-card: #282828;
  --bg-navbar: #282828;

  background-color: #151515;

  p {
    color: #{$colorTextLight};
  }
}